html, body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  
}
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  background-color: #FFFFFF;
}
::-webkit-scrollbar {
  display: none;
}

/*----Mobile first----*/

header {
  margin: 20px;
}
.nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--logo {
  max-width: 100px;
  
}
.nav--pages {
  display: flex;
  align-items: flex-end;
  text-align: right;
}
.nav--pages > li {
  margin: 10px;
  list-style: none;
  font-size: 12px;
  line-height: 142.6%;
  cursor: pointer;
}
.nav--link {
  color: #FF6060;
}

.nav--pages > li:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.background--image{
  background-image: url("/images/head-background.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center; 
  object-fit: cover;
  background-size: cover;
  height: 111px;
  width: 100%;
  border-radius: 15px;
  
}
.background--image h2 {
  position: absolute;
  left: 9.6%;
  right: 32.53%;
  top: 14.04%;
  bottom: 80.05%;
  color: #343434;
  font-size: 24px;
  line-height: 100%;
}

/*----Main content----*/

.mainContent {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 40px 20px;
  background: #F7F7F7;
  border-radius: 25px;
  
}
.logement {
  height: 300px;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  
}
a {
  text-decoration: none;
}
.logement--img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.title {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 142.6%;
  margin: -60px 10px 60px 10px;
}

/* DEBUT CSS PAGE LOGEMENT */
.carousel-root{
  margin: 20px;
}
.carousel--image img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  background-size: cover;
}



/* FIN CSS PAGE LOGEMENT */

/*-----Footer----*/
.footer {
  margin-top: 100px;
  background: #000000;
}
.footer--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  padding: 50px;
}
.footer--logo {
  width: 100px;
  filter: brightness(0) invert(1);
}


/* Version tablette */
@media only screen and (min-width: 768px){
  .nav--pages > li {
    margin-left: 60px;
    font-size: 20px;
  }
  .background--image {
    height: 250px;
  }
  .background--image h2 {
    left: 25.9%;
    right: 25.14%;
    top: 25.32%;
    bottom: 69.04%;
    text-align: center;
  }
}

/* Version desktop */
@media only screen and (min-width: 1025px){
  body {
    background: #E5E5E5;
  }
  header {
    margin: 20px 20px 50px 20px;
  }
  .nav--pages > li {
    margin-left: 60px;
    font-size: 20px;
  }
  .head-background {
    margin: 20px;
  }
  .background--image {
    height: 223px;
  }
  .background--image h2 {
    left: 25.9%;
    right: 25.14%;
    top: 24.32%;
    bottom: 69.04%;
    text-align: center;
  }
  

  /* Main Content */
  .mainContent {
    flex-flow: row wrap;
    margin: auto 100px;
  }
  .logement {
    height: 300px;
    width: 350px;
    overflow: hidden;
    padding: 20px;  
  }  
}